DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dailypuzzlehub?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="dailypuzzlehub-enterprise-secret-key-2026"
NEXT_PUBLIC_ADSENSE_CLIENT_ID="ca-pub-5643499410858608"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
PORT=3000
